<section class="section">
    <div class="maincontent">
        <div class="container">
            <div class="add-list-block">
                <label for="">{{label}}</label>
                <div class="input-field add-list">
                    <input type="text" class="text-input" id="input-field" placeholder="Add title here" />
                    <button class="add-btn" type="button">Add</button>
                </div>
            </div>

            <div class="todo-list-block">
                <app-list-component></app-list-component>
            </div>
        </div>
    </div>
</section>

<div class="modal-block">
    <app-popup-modal></app-popup-modal>
</div>
