<div class="to-do-list">
    <ul class="list">
        <li class="list-items card">
            <span>Take the dog for a walk</span>
            <button>Remove</button>
        </li>
        <li class="list-items card">
            <span>Take the dog for a walk</span>
            <button>Remove</button>
        </li>   
        <li class="list-items card">
            <span>Take the dog for a walk</span>
            <button>Remove</button>
        </li>   
        <li class="list-items card">
            <span>Take the dog for a walk</span>
            <button>Remove</button>
        </li>   
    </ul>
</div>
