<div class="block">
    <div class="card">
        <div class="modal-title">
            <h1 class="title">Create New Ticket</h1>
        </div>
        <div class="modal-content">
            <div class="input-field title">
                <label for="title">Title</label>
                <input type="text" class="text-input" id="title" placeholder="Title will appear here" disabled/>
            </div>
            <div class="input-field project-name">
                <label for="project-name">Project Name</label>
                <input type="text" class="text-input" id="project-name" placeholder="Enter project name here" />

            </div>
            <div class="input-field description">
                <label for="description">Description</label>
                <textarea class="text-input" id="description" placeholder="Enter description here"></textarea>
            </div>
            <div class="input-field due-date">
                <label for="due-date">Due Date</label>
                <input type="date" class="text-input" id="due-date" placeholder="Select due date" />
            </div>
            <div class="input-field priority">
                <label for="priority">Priority</label>
                <select id="priority">
                    <option value="">Select priority</option>
                    <option value="low">Low</option>
                    <option value="medium">Medium</option>
                    <option value="high">High</option>
                </select>
            </div>
        </div>

        <button class="action primary">Confirm</button>
    </div>
</div>
