<div class="block">
    <div class="card modal">
     <form action="">
           <div class="modal-title">
            <h1 class="title">Create New Ticket</h1>
        </div>
        <div class="modal-content">
            <div class="input-field title">
                <label for="title">Title</label>
                <input type="text" class="text-input" id="title" placeholder="" disabled/>
            </div>
            <div class="input-field project-name">
                <label for="project-name">Project Name</label>
                <input type="text" class="text-input" id="project-name" placeholder="Enter project name here" />

            </div>
            <div class="input-field description">
                <label for="description">Description</label>
                <textarea class="text-input" id="description" placeholder="Enter description here"></textarea>
            </div>
            <div class="input-field due-date">
                <label for="due-date">Due Date</label>
                <input type="date" class="text-input" id="due-date" placeholder="Select due date" />
            </div>
            <div class="input-field priority">
                <label for="priority">Priority</label>
                <select id="priority">
                    <option *ngFor="let priority of priorities" 
                            value="{{priority.value}}">
                            {{priority.label}}
                    </option>
                </select>
            </div>
        </div>
     </form>

        <button type="submit" class="action primary confirm">Confirm</button>
    </div>
</div>
